{% from "macros.html" import render_form %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Made In UCI - Create Project</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">

  <!-- Custom fonts for this template-->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  {% for src in assets.base.styles %}
    <link rel="stylesheet" href="{{ src }}">
  {% endfor %}

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-xl my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-xl-0 d-none d-lg-block"></div>
          <div class="col-xl-12">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create Project</h1>
              </div>
              <div class="container">
              <form class="user">
                <div class="form-group">
                <input type="text" class="form-control" id="ftitle" placeholder="Project Title">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="furl" placeholder="Project URL">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="date" class="form-control" id="fdate">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="fduration" placeholder="Duration">
                    </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Description: Tell us about your project." id="fdescription"></textarea>
                </div>
                <div class="form-row float-right mt-3 mb-3">
                    <div class="form-group col-xs-12">
                        <a href="#" id="submit" class="btn btn-facebook float-right">
                          Create Project
                        </a>
                    </div>
                    <div class="form-group col-xs-12">
                        <a href="/" class="btn btn-warning float-right">
                          Cancel
                        </a>
                    </div>
                </div>
            </form>
            </div>
            <form id="save-project" method="post" hidden>{{ render_form(form) }}</form>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  {% for src in assets.base.vendor %}
    <script src="{{ src }}"></script>
  {% endfor %}
  {% for src in assets.base.scripts %}
    <script src="{{ src }}"></script>
  {% endfor %}

  <script>
      $("#submit").click(function() {
        // Useful data for your client-side scripts:
        $('#title').val($("#ftitle").val());
        $('#url').val($("#furl").val());
        $('#description').val($("#fdescription").val());
        var date = new Date($("#fdate").val())
        $('#start_date').val(date.toLocaleDateString("en-US"));
        $('#duration').val($("#fduration").val());
        $('#save-project').submit();
      });
    </script>

</body>

</html>
