{% from "macros.html" import render_form %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Made In UCI - Profile</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon-16x16.png') }}">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <style>
    .yellow {color: rgb(255, 217, 0) !important;}
  </style>

  <!-- Custom styles for this template-->
  <!-- Custom styles for this template-->
  {% for src in assets.base.styles %}
  <link rel="stylesheet" href="{{ src }}">
  {% endfor %}

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-xl my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-xl-0 d-none d-lg-block"></div>
          <div class="col-xl-12">
            <div class="p-5">
              <div>
                <h1 class="h4 text-gray-900 mb-4">Hello, {{ current_user.name }}<a href=".." style="float:right;" class="fas fa-home fa-lg fa-fw "></a></h1>
              </div>
              <div class="user">
                <div class="for-row">
                  <div class="form-group col d-flex justify-content-center">
                    <img class="img-fluid rounded shadow col-sm- mt-3 mb-4" style="width: 7rem; height: 7rem; object-fit: cover;"
                      src="{{ current_user.picture }}" alt="">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="fmajor"> Major:</label>
                    {% if current_user.major == None %}
                    <input type="text" class="form-control form-control-user" id="fmajor" placeholder="Ex: Computer Science">
                    {% else %}
                    <input type="text" class="form-control form-control-user" id="fmajor" placeholder="Ex: Computer Science"
                      value="{{ current_user.major }}">
                    {% endif %}
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fyear"> Graduation Year:</label>
                    {% if current_user.year == None %}
                    <input type="text" class="form-control form-control-user" id="fyear" placeholder="Ex: 2021">
                    {% else %}
                    <input type="text" class="form-control form-control-user" id="fyear" placeholder="Ex: 2021" value="{{ current_user.year }}">
                    {% endif %}
                  </div>
                </div>
                <div class="form-row">
                  <label for="fdescription"> Description/Bio:</label>
                  {% if current_user.year == None %}
                  <textarea id="fdescription" class="form-control" placeholder="Description: Skills, Interests, etc."></textarea>
                  {% else %}
                  <textarea id="fdescription" class="form-control" placeholder="Description: Skills, Interests, etc.">{{ current_user.description }}</textarea>
                  {% endif %}
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <a href="#" id="save-btn" class="btn btn-facebook float-right shadow mt-2">
                      Save Profile
                    </a>
                  </div>
                </div>
              </div>
              <hr>
              <!-- Content Row -->
              <label for="event-created"> Created Projects</label>
              <div id="events-created" class="row">
                <!-- User Events -->
                <div class="container">
                  {% for project in projects %}
                  <div class="row" id="project-{{ project.id }}">
                    <div class="card shadow col mb-4 p-0">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">{{ project.title }} <a href="#" onclick="deleteProject({{ project.id }})"
                            class="fas fa-trash-alt ml-2 fa-sm" style="color:rgb(192, 49, 49)"></a></h6>
                          <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <a class="star-count" id="starcount-{{ project.id }}">{{ project.star_count }}</a>
                            </a>
                            {% if project.id in starsIDs %}
                            <a class="dropdown-toggle" onclick="toggleStar({{ project.id }})" role="button"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="star-btn fas fa-star fa-md fa-fw text-400 yellow" id="star-{{ project.id }}"></i>
                            </a>
                            {% else %}
                            <a class="dropdown-toggle" onclick="toggleStar({{ project.id }})" role="button"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="star-btn fas fa-star fa-md fa-fw text-400" id="star-{{ project.id }}"></i>
                            </a>
                            {% endif %}
                          </div>
                      </div>
                      <div class="card-body">
                        <div class="media">
                          <img class="img-fluid rounded shadow mt-2 mb-2 mr-4" style="width: 5rem; height: 5rem; object-fit: cover;"
                            src="{{ project.picture }}" alt="">
                          <div class="media-body" style="overflow-x: scroll;">
                            <p>Description: {{ project.description }}</p>
                            <p class="mb-0 font-italic">{{ project.name }}</p>
                            <p class="mb-0 font-italic" style="float:left;">Project URL: <a target="_blank" href="{{ project.url }}">{{
                                project.url
                                }}</a>
                              <p class="mb-0" style="float:right;">{{
                                project.start_date }}</p>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <hr>
              <!-- Content Row -->
              <label for="event-to-attend"> Starred Projects</label>
              <div id="events-to-attend" class="row">
                <!-- User Events -->
                <div class="container">
                  {% for star in stars %}
                  <div class="row">
                    <div class="card shadow col mb-4 p-0">
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h5 class="m-0 font-weight-bold text-primary">{{ star[1].title }}</h6>
                          <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <a class="star-count" id="starcount-{{ star[1].id }}">{{ star[1].star_count }}</a>
                            </a>
                            {% if star[1].id in starsIDs %}
                            <a class="dropdown-toggle" onclick="toggleStar({{ star[1].id }})" role="button"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="star-btn fas fa-star fa-md fa-fw text-400 yellow" id="star-{{ star[1].id }}"></i>
                            </a>
                            {% else %}
                            <a class="dropdown-toggle" onclick="toggleStar({{ star[1].id }})" role="button"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="star-btn fas fa-star fa-md fa-fw text--400" id="star-{{ star[1].id }}"></i>
                            </a>
                            {% endif %}
                          </div>
                      </div>
                      <div class="card-body">
                        <div class="media">
                          <img class="img-fluid rounded shadow mt-2 mb-2 mr-4" style="width: 5rem; height: 5rem; object-fit: cover;"
                            src="{{ star[1].picture }}" alt="">
                          <div class="media-body" style="overflow-x: scroll;">
                            <p>Description: {{ star[1].description }}</p>
                            <p class="mb-0 font-italic">{{ star[1].name }}</p>
                            <p class="mb-0 font-italic" style="float:left;">Project URL: <a target="_blank" href="{{ star[1].url }}">{{
                                star[1].url
                                }}</a>
                              <p class="
                                mb-0" style="float:right;">{{
                                star[1].start_date }}</p>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <form id="save-profile" method="post" hidden>{{ render_form(form) }}</form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  {% for src in assets.base.vendor %}
  <script src="{{ src }}"></script>
  {% endfor %}
  {% for src in assets.base.scripts %}
  <script src="{{ src }}"></script>
  {% endfor %}
  <script>
    $("#save-btn").click(function () {

      // Useful data for your client-side scripts:
      $('#major').val($("#fmajor").val());
      $('#year').val($("#fyear").val());
      $('#description').val($("#fdescription").val());
      $('#save-profile').submit();
    });

    function toggleStar(starid) {
      $.post("../project/star/" + starid, function (data) {});
    }

    function deleteProject(projectid) {
      $.post("../project/delete/" + projectid, function (data) {});
      $("#project-" + projectid).remove();
    }

    $(".star-btn").click(function () {
      if ($(this).hasClass("yellow")) {
        $(this).parent().siblings(".star-count").text(parseInt($(this).parent().siblings(".star-count").text()) - 1);
        $(this).removeClass("yellow")
      } else {
        $(this).parent().siblings(".star-count").text(parseInt($(this).parent().siblings(".star-count").text()) + 1);
        $(this).addClass("yellow")
      }
    });
  </script>

</body>

</html>